<component name="ArtifactManager">
  <artifact name="plugin">
    <output-path>$PROJECT_DIR$/out/artifacts/plugin</output-path>
    <root id="root">
      <element id="directory" name="cpp">
        <element id="directory" name="lib">
          <element id="zip-archive" name="cpp.jar">
            <element id="module-output" name="consulo-cpp" />
            <element id="directory" name="META-INF">
              <element id="dir-copy" path="$PROJECT_DIR$/META-INF" />
            </element>
          </element>
        </element>
      </element>
    </root>
  </artifact>
</component>